*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    
}

.header{ grid-area: head;}
.main{ grid-area: hero;}
.section__noticias{ grid-area: main1;}
.video__notice{ grid-area: main2;}
.footer{ grid-area: foot;}

.body__container{
    display: grid;
    grid-template-columns: 40px 50px 1fr 50px 40px;
    grid-template-rows: 60px 1vh 1vh 1vh 1vh;
    grid-template-areas: 
        " head head head head head"
        "hero hero hero hero hero"
        "main1 main1 main1 main1 main1"
        "main2 main2 main2 main2 main2"
        "foot foot foot foot foot";
}

header{
    padding: 5px;
    background-color: #145B8D;
    display: flex; 
    align-items: center;
    align-content: center;
    top: 0px;
    min-width: 100%;
    z-index: 2;
    position: fixed;
    justify-content: space-between;
}
nav{
    margin-left: auto;
    display: flex;
}
.header__navbar{
    margin: 5px;
    padding: 5px;
    list-style: none;
    display: inline-flex;
    background-color: aliceblue;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
li{
    margin: 2px 8px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.browser{
    display: inline-flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: aliceblue;
    text-decoration: none;
}
.main img{
    max-width: 100%;
}
.main{
    display: flexbox;
    position: relative;
}
.textBanner{
    display: flex;
    position: absolute;
    margin: 15px;
    padding: 8px;
    top: 50px;
    left: 50px;
    color: aliceblue;
    font-size: xx-large;
}
.section__title__main{
    background-color: brown;
    padding: 50px;
    display: flex;
    justify-content: center;    
    align-items: center;
}
footer{
    display: flex;
    padding: 15px;
    background-color: #121F39;
    padding: 5px;
    flex-direction: column;
    width: 100%;
    height: 50%;
    z-index: 5;
    
}

.social{
    display: flex;
    justify-content: space-between;
}
.social__imagen{
    display: flex;
    font-size: larger;
    padding: 5px;
    align-items: center;
}
.social__imagen img{
    padding: 5px;
    max-width: 40%;
    max-height: 40%;
}
.social h4{
    padding: 5px;
}
.footer__inf{
    display: flex;
    justify-content: center;
}


/*-----------INICIO NEWS------------*/
.section__noticias{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section__title__main{
    background: rgb(0,42,78);
    background: linear-gradient(180deg, rgba(0,42,78,1) 0%, rgba(0,82,126,1) 24%);
}
.section__title{
    padding: 50px;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 74px;
}
.article__body{
    background: rgb(0,82,126);
    background: linear-gradient(180deg, rgba(0,82,126,1) 11%, rgba(20,172,255,1) 100%);
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
}
.notice{
    padding: 10px;
    background-color: #F3E5CC;
    margin: 5px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    border-radius: 3px;
    border: solid #F4E1BD 2px;

}

.notice img{
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.notice:hover img{
    transform: scale(1.04);
}
.article__news{
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video__notice{
    height: auto;
    background-color: #14acff;
    
}
.section__titleVideo{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.video__body{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.video{
    display: flex;
    justify-content: space-around;
    height: 380px;
    border: 2px;
    padding: 15px;
    background-color: #F3E5CC;
    border-radius: 3px;
    border: solid #F4E1BD 2px;
}
/*------ INICIO REPUESTOS-----*/
.main__repuestos{
    background: rgb(0,82,126);
    background: linear-gradient(180deg, rgba(0,82,126,1) 11%, rgba(20,172,255,1) 100%);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.section__title__repuestos{
    padding: 50px;
    display: flex;
    justify-content: center;    
    align-items: center;
    margin-top: 74px;
}
.section__title__repuestos h3{
    border-radius: 5px solid #3DC5EB;
    padding: 3px;
    background-color: #3DC5EB;
    
}

.banner__{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.banner__Marcas{
    display: flex;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    height: 250px;
    width: 250px;
    
    
}
.banner__Marcas img{
    max-width: 100%;
    max-height: 100%;
}

/*-- INICIO STORE --*/
.ropa{
    padding: 10px;
    background-color: cadetblue;
    margin:  5px;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;

}
.store__body{
    background-color: pink;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    flex-wrap: wrap;
    margin-top: 74px;
    
}






















/*-----------INICIO CUENTA------------*/
.main__cuenta{
    padding: 15px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(12, 55, 173);
    margin-top: 74px;
}
.main__input{
    padding: 50px;
    background-color: rgb(64, 174, 207);
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    margin-bottom: 19rem;
}
.titleRegister{
    border: 2px solid black;
    padding: 5px;
    margin: 3px 3px 15px 3px;

}
.body__Register{
    margin: 15px;
    padding: 10px;
}
.input__datos{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
    align-items: center;
}
.title__Login{
    border: 2px solid black;
    padding: 5px;
    margin: 3px 3px 15px 3px;
}
/*----------FIN CUENTA---------*/
